/* PRODUCT CONTAINER */
.product-container {
  margin-top: 50px;
}
/* PRODUCT LIST */
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0 auto;
  width: 80%;
}
