.formik-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Form fields */
.form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}
/* Text fields */
.textfield-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 0 auto;
  gap: 20px;
}
/* Shipping */
.shipping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 65px;
}
.shipping-information {
  display: flex;
  gap: 10px;
}
/* Payment */
.payment {
  display: flex;
  gap: 10px;
}

/* Payment handler */
.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}
/* Payment One */
.payment-one {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
/* Payment Two */
.payment-two {
  display: flex;
}
/* Orders */
.order-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
img {
  margin-left: 10px;
}
