/* Main  */
.main-container {
  margin-top: 80px;
  margin-bottom: 200px;
}
/* Detail */
.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  gap: 30px;
}

/*Car make  */
.car-make {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: 500;
}
.description-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}
/* Rate */
.rate-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
/* Btn */
.btn-container {
  display: flex;
  gap: 20px;
}
