/* LOGIN */
.login-page {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  object-fit: scale-down;
}
/* FORM */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ERROR */
.error-message {
  font-size: small;
  color: red;
}
/*FIELDS  */
.field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
