/* LOGIN */
.login-page {
  display: flex;
  justify-content: flex-end;
  gap: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../assets/loginbackground.jpg");
  min-height: 100%;
}

/* FORM */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
}
/* ERROR */
.error-message {
  font-size: small;
  color: red;
}
/*FIELDS  */
.field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
