/* FIELD CONTAINER */
.field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin: 50px;
  /* background-image: url("../../../../../client/src/assets/NewAudimodel.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: scale-down;
}
/* NAME CONTAINER */
.name-container {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
/* FIELD"-CONTAINER */
.field2-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;

  gap: 5px;
}
.error-message {
  display: flex;
  font-size: small;
  color: red;
}
.first-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.second-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  padding: 0;
  margin: 0;
}
