/* ORDER-CONTAINER */
.order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
/* TOTAL PRICE WRAPPER */
.total-price {
  display: flex;
  align-items: flex-end;
}
/* LOGO */
.logo {
  display: flex;
  flex-direction: column;
}
/* LOGO CONTAINER */
.logo-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  margin-top: 50px;
}
/* LOGO TEXT */
.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 30px;
}
