.cartitem-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 25px;
}
.qty-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
