/* NAVBAR */
.navbar {
  display: flex;
}
.navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #002e5c;
}
/* LINK */
.link {
  text-decoration: none;
}
